{% extends 'layout.twig' %}
{% block title %}
  git.fiddlerwoaroof.com
{% endblock %}

{% block body %}

  <div id="repositories" tabindex="-1">
    {% include 'navigation.twig' %}
    <div class="repo-search">
      <input class="search" placeholder="search" autofocus>
    </div>

    <main>
    <div class="list repository-list">
      {% for repository in repositories %}
        {% if repository.description %}
          <a class="repository" href="{{ path('repository', {repo: repository.name}) }}">
            <div>
              <div class="repository-header">
                <i class="icon-folder-open icon-spaced"></i>
                <span class="name">{{ repository.name }}</span>
              </div>
              <div class="repository-body">
                <p>{{ repository.description }}</p>
              </div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
      {% for repository in repositories %}
        {% if not repository.description %}
          <a class="repository" href="{{ path('repository', {repo: repository.name}) }}" style="display:none">
            <div>
              <div class="repository-header">
                <i class="icon-folder-open icon-spaced"></i>
                <span class="name">{{ repository.name }}</span>
              </div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    </main>
    {% include 'footer.twig' %}


  </div>
{% endblock %}
