<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86" />

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/themes/{{ app.theme }}/css/style.css?v=4" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{app.request.basepath}}/themes/{app.theme}}/img/apple-touch-icon-57x57.png?v=wAAMKqR7RG" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{app.request.basepath}}/themes/{app.theme}}/img/apple-touch-icon-60x60.png?v=wAAMKqR7RG" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{app.request.basepath}}/themes/{app.theme}}/img/apple-touch-icon-72x72.png?v=wAAMKqR7RG" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{app.request.basepath}}/themes/{app.theme}}/img/apple-touch-icon-76x76.png?v=wAAMKqR7RG" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{app.request.basepath}}/themes/{{app.theme}}/img/apple-touch-icon-114x114.png?v=wAAMKqR7RG" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{app.request.basepath}}/themes/{{app.theme}}/img/apple-touch-icon-120x120.png?v=wAAMKqR7RG" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{app.request.basepath}}/themes/{{app.theme}}/img/apple-touch-icon-144x144.png?v=wAAMKqR7RG" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{app.request.basepath}}/themes/{{app.theme}}/img/apple-touch-icon-152x152.png?v=wAAMKqR7RG" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{app.request.basepath}}/themes/{{app.theme}}/img/apple-touch-icon-180x180.png?v=wAAMKqR7RG" />
    <link rel="icon" type="image/png" href="{{app.request.basepath}}/themes/{{app.theme}}/img/favicon-32x32.png?v=wAAMKqR7RG" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{app.request.basepath}}/themes/{{app.theme}}/img/favicon-194x194.png?v=wAAMKqR7RG" sizes="194x194" />
    <link rel="icon" type="image/png" href="{{app.request.basepath}}/themes/{{app.theme}}/img/favicon-96x96.png?v=wAAMKqR7RG" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{app.request.basepath}}/themes/{{app.theme}}/img/android-chrome-192x192.png?v=wAAMKqR7RG" sizes="192x192" />
    <link rel="icon" type="image/png" href="{{app.request.basepath}}/themes/{{app.theme}}/img/favicon-16x16.png?v=wAAMKqR7RG" sizes="16x16" />
    {# <link rel="manifest" href="{{app.request.basepath}}/themes/{{app.theme}}/img/manifest.json?v=wAAMKqR7RG" /> #}
    <link rel="shortcut icon" href="{{app.request.basepath}}/themes/{{app.theme}}/img/favicon.ico?v=wAAMKqR7RG" />
    <meta name="apple-mobile-web-app-title" content="Whitespace" />
    <meta name="application-name" content="Whitespace" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{{app.request.basepath}}/themes/{{app.theme}}/img/mstile-144x144.png?v=wAAMKqR7RG" />
    <meta name="msapplication-config" content="{{app.request.basepath}}/themes/{{app.theme}}/img/browserconfig.xml?v=wAAMKqR7RG" />
    <meta name="theme-color" content="#ffffff" />
    <!--[if lt IE 9]>
        <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/html5.js"></script>
    <![endif]-->

    <script src="https://unpkg.com/animate-css-grid@latest"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55883111-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-55883111-2');
    </script>


  </head>

  <body>
    {% block body %}{% endblock %}
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/jquery.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/raphael.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/bootstrap.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/codemirror.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/eiffel.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/commonlisp.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/showdown.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/table.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/list.min.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/main.js"></script>
    <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/networkGraph.js"></script>
    <script type="text/javascript">
      window.gridProps = document.querySelector(".repository-list") && animateCSSGrid.wrapGrid(document.querySelector(".repository-list"));
      window.gridProps && (window.onresize = function () {
        requestAnimationFrame(gridProps.forceGridAnimation);
      })
      if (window.flip !== undefined && window.location.hash === "#light") {
        console.log('let it be light!');
        flip();
      }
      document.querySelector('#repositories, .page-container').focus();
    </script>
  </body>
</html>
