{% extends 'layout.twig' %}

{% block body %}

  <div class="page-container" tabindex="-1" autofocus>
    {% include 'navigation.twig' %}

    <!--<div></div>-->
    <main>
      <input type="radio" tabindex="-1" autofocus style="visibility: hidden; height: 0; width: 0; margin: 0; padding: 0;"></input>
    {% if page in ['commits', 'searchcommits'] %}
      <form class="form-search pull-right" action="{{ app.request.basepath }}/{{repo}}/commits/{{branch}}/search" method="POST">
        <input type="text" name="query" class="input-medium search-query" placeholder="Search commits..." value="{{ query | default("") }}">
      </form>
    {% else %}
      <form class="form-search pull-right" action="{{ app.request.basepath }}/{{repo}}/tree/{{branch}}/search" method="POST">
        <input type="text" name="query" class="input-medium search-query" placeholder="Search tree..." value="{{ query | default("") }}">
      </form>
    {% endif %}

    {% if branches is defined %}
      {% include 'branch_menu.twig' %}
    {% endif %}

    {% include 'menu.twig' %}

    {% block content %}{% endblock %}
      </main>

      {% include 'footer.twig' %}

  </div>

  </div></div>
    {% endblock %}
